/*----------------my nav---------------*/
.my-nav {
    background-color: var(--bg-color1);
}

.btn-login {
    padding: 8px 15px !important;
    color: var(--ft-color2);
}




/*---------------login page----------------*/
.login-form {
    width: 400px;
    background-color: var(--bg-color3);
}


/*---------------signup page----------------*/
.signup-form {
    width: 400px;
    background-color: var(--bg-color3);
}





/*--------------- latest_news -------------*/
.latest_news {

}

.news_card {
    box-shadow:0 0 4px 0px rgba(0,0,0,0.3);
}

.news_card:hover {
    cursor: pointer;
}

.news_image {
    height: 150px;
    width: 100%;
    overflow: hidden;
}

.news_image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.news_title {
    font-family: sans-serif;
    color: var(--ft-color1);
    font-size: 18px;
    text-transform: capitalize;
}

.news_date {
    font-size: 12px; 
    font-family: monospace; 
    color: gray;
}

.news_btn {
    font-size: 11px; 
    color: #fff;
}






/*--------------- post_details -------------*/
.post_details {
    padding: 100px 0;
}

.post_detail_title {
    font-family: sans-serif;
    color: var(--ft-color1);
    font-size: 25px;
    text-transform: capitalize;
}

.post_detail_img {
    max-width: 500px;
    max-height: 400px;
    overflow: hidden;
}

.post_detail_img img {
    width: 100%;
    height: 100%;
}